body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Estilo para o cabeçalho (título) */
header {
background-color: #333; /*Cor de fundo do titulo*/
color: #fff; /*Cor das letras da format*/
text-align: center;
padding: 20px;
}

/* Estilo para o título da página */
h1 {
font-size: 36px;
margin: 0;
padding: 0;
}

/* Estilo para o conteúdo principal */
main {
background-color: #fff;
margin-left: 200px;
padding: 20px;
}

/* Estilo para o rodapé */
footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px;
position: fixed;
bottom: 0;
width: 100%;

}
.sidebar {
margin: 0;
padding: 0;
width: 200px;
background-color: #d63c3c;
position: fixed;
height: 100%;
overflow: auto;
}

.sidebar a {
display: block;
color: black;
padding: 16px;
text-decoration: none;
}
.sidebar a.index {
background-color: rgb(81, 92, 104);
color: white;
}
.sidebar a:hover:not(.index) {
background-color: rgb(158, 183, 209);
color: white;
}
/* Estilos para o conteúdo principal */
.content {
margin-left: 250px; /* A largura da barra lateral */
padding: 20px;
}
div {
background-color: #333;
color: #fff;
text-align-last: auto;
padding: 20px;
font-family: cursive;
font-size: x-large;
}

.sidebar a:hover:not(.index) {
  background-color: rgb(158, 183, 209);
  color: white;
}